# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python related files to ignore
__pycache__/
*.py[cod]
*$py.class

# Vscode
.vscode

# Helpers
file_find.py
file_count.py
generate_voters.py
voters.txt
Readme_gen.py
Readme_add.py
test.md